.custome-screen {
    height: 97vh;
    width: 98vw;
    margin: 0.5rem;
    overflow: hidden;
}

.custome-border {
    border-top: 0.2rem solid black;
    border-left: 0.2rem solid black;
    border-right: 0.2rem solid black;
    border-bottom: 0.2rem solid black;
}

.customer-box {
    height: 60vh;
    margin: 0.5rem;
    flex-wrap: nowrap;
}   

.small-box {
    height: 40vh;
    width: 40vh;
}

.left-box {
    width: 40%;
}

.custome-img {
    height: 50%;
    width: 35%;
    object-fit: cover;
    object-position: center;
    border-radius: 2.5rem;
}

.right-box {
    width: 50%;
}

.text-size {
    width: 31%;
    text-align: end;
}